.search-bar {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    
}

.search-bar form {
    display: flex;
    flex-direction: column;
}

.react-autosuggest__suggestions-container {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 2;
  }

  
.react-autosuggest__suggestions-list {
    list-style-type: none;
    padding: 0;
  }
  
  .react-autosuggest__suggestion {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  
  .react-autosuggest__suggestion:last-child {
    border-bottom: none;
  }

  .react-autosuggest__suggestion--highlighted {
    background-color: #007bff; 
    color: #fff; 
  }